@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Light Theme */
  --color-light-bg: #f7f9fc; /* Page background */
  --color-light-fg: #212529; /* Primary text */
  --color-light-fg-muted: #333; /* Secondary text */
  --color-light-surface: #eff1f6; /* Card / section background */
  --color-light-surface-alt: #e6e8ec; /* Elevated / alt surface */

  /* Dark Theme */
  --color-dark-bg: #1a1d21; /* Page background */
  --color-dark-fg: #e3e8f3; /* Primary text */
  --color-dark-fg-muted: #e3e8f3b3; /* Secondary text */
  --color-dark-surface: #212529; /* Card / section background */
  --color-dark-surface-alt: #272c31; /* Elevated / alt surface */

  /* Brand */
  --color-brand-primary: #3b82f6;

  /* Warning */
  --color-warning: #f03e3e;

  /* Typography */
  --color-font-sans: var(--font-geist-sans);
  --color-font-mono: var(--font-geist-mono);

  /* Breakpoints */
  --breakpoint-xxs: 380px; /* extra extra small devices (phones) */
  --breakpoint-xs: 480px; /* extra small devices (phones) */
  --breakpoint-sm: 640px; /* small devices (phones) */
  --breakpoint-md: 768px; /* tablets */
  --breakpoint-lg: 920px; /* tablets-laptops */
  --breakpoint-xl: 1024px; /* laptops */
  --breakpoint-2xl: 1280px; /* desktops */
  --breakpoint-3xl: 1536px; /* large screens */
}

body {
  font-family: "Mona Sans", sans-serif;
}

body::-webkit-scrollbar {
  width: 0px;
}

.scrollbar {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(33, 37, 41, 0.4) transparent;
}

/* Hide scrollbars for WebKit if not overflowing */
.scrollbar:not(:hover)::-webkit-scrollbar:horizontal,
.scrollbar:not(:hover)::-webkit-scrollbar:vertical {
  background: transparent;
}

/* Webkit custom scrollbar when needed */
.scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(33, 37, 41, 0.4);
  border-radius: 20px;
}

.dark .scrollbar {
  scrollbar-color: rgba(227, 232, 243, 0.315) transparent;
}

#headlessui-portal-root {
  z-index: 5000000000;
  position: relative;
}
